@tailwind base;
@tailwind components;

body {
  @apply text-gray-900 bg-gray-100;
}
@media (prefers-color-scheme: dark) {
  body {
    @apply text-gray-100 bg-gray-900;
  }
}

/* I can't figure out how to theme Tippy from here, so this will have to do. */
.tippy-tooltip,
.tippy-tooltip [x-circle] {
  background-color: theme('colors.gray.900') !important;
}
.tippy-tooltip > .arrow-regular {
  border-top-color: theme('colors.gray.900') !important;
}
.tippy-tooltip > .tippy-tooltip-content {
  color: theme('colors.gray.100') !important;
}
@media (prefers-color-scheme: dark) {
  .tippy-tooltip,
  .tippy-tooltip [x-circle] {
    background-color: theme('colors.yellow.100') !important;
  }
  .tippy-tooltip > .arrow-regular {
    border-top-color: theme('colors.yellow.100') !important;
  }
  .tippy-tooltip > .tippy-tooltip-content {
    color: theme('colors.gray.900') !important;
  }
}

@tailwind utilities;
